<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="border-bottom: 1px solid #000;">
    <div class="container-fluid">
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Centered Search Form -->
        <div class="mx-auto d-none d-lg-block">
            <form class="form-inline d-flex justify-content-center">
                <input class="form-control" type="search" placeholder="Search for products" aria-label="Search">
                <button class="btn btn-outline-success ml-2" type="submit">Search</button>
            </form>
        </div>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!-- Links to show in the burger bar -->
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                <%if(currentUser) {%>
                    <a class="nav-item nav-link text-dark" href="/carts/render">Cart</a>
                    <%} else{%>

                        <a class="nav-item nav-link text-dark" href="/login">Login</a>
                        <a class="nav-item nav-link text-dark" href="/register">Register</a>
                        <%}%>
            </div>

            <!-- Mobile Search Form (visible only on xs to md) -->
            <div class="mx-auto d-lg-none">
                <form class="form-inline d-flex justify-content-center">
                    <input class="form-control" type="search" placeholder="Search for products" aria-label="Search">
                    <button class="btn btn-outline-success ml-2" type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- Right-aligned links -->
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-dark" href="/products">Home</a>
        </div>
    </div>
</nav>

<style>
    .nav-link:hover {
        text-decoration: underline;
    }

    @media (min-width: 992px) {
        .form-inline .form-control {
            width: 250px;
            /* Adjust based on your preference */
        }
    }
</style>